<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fpliu.newton.ui.photo">

    <application>
        <activity
            android:name=".FilePhotoViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".UriPhotoViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>
</manifest>
